/* h1 {
  color: blue;
}

#judul{
  color: orange;
}

.belajar{
  color: green;
}

h3,h4,h5{
  color:red;
} */
.warnaclass {
  color: red;
}

h2 {
  color: blue;
}

#idwarna {
  background-color: orange;
}

body {
  background: orange url(../img/rajaampat.jpg) no-repeat center ;
}
